* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background: #fff;
    color: #111;
}

/* NAV */
.nav {
    position: fixed;
    width: 100%;
    top: 0;
    padding: 25px 60px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    background: white;
}

/* HERO */
.hero {
    height: 90vh;
    display: flex;
    align-items: center;
    padding: 0 80px;
}

.hero h1 {
    font-family: 'Playfair Display', serif;
    font-size: 56px;
    max-width: 700px;
    line-height: 1.2;
}

/* IMAGEM GRANDE */
.highlight img {
    width: 100%;
    height: 90vh;
    object-fit: cover;
}

/* PORTFÓLIO */
.portfolio {
    padding: 120px 80px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.item img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    transition: 0.5s;
}

.item:hover img {
    transform: scale(1.03);
}

/* SOBRE */
.about {
    padding: 120px 80px;
    font-size: 20px;
    max-width: 600px;
    line-height: 1.6;
}